{% extends "base.html.twig" %}

{% block title %}register{% endblock %}

{% block body %}
    <h1>Welcome to the register page</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
